{% load staticfiles %}

<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="{% static 'emh/3rd_party/bootstrap-3.1.1-dist/css/bootstrap.min.css' %}" />

<script src="{% static 'emh/3rd_party/jquery/jquery-2.1.1.min.js' %}"></script>
<script src="{% static 'emh/3rd_party/bootstrap-3.1.1-dist/js/bootstrap.min.js' %}"></script>

<style type="text/css">
    .table-hover > tbody > tr:hover > td
    {
        background-color: #eeeeee;
    }
    .pagination
    {
    	font-size: 16;
    }
</style>