<html>

<head>
    <title>emh word edit</title>
    {% include 'emh/include/head.html' %}
</head>

<body>
{% include 'emh/include/navbar.html' %}

<div class="container">
    <div class="col-md-offset-4">

        <h1>{{ word }}</h1>

        <p>{{ word.pub_date }}</p>

        {% if error_message %} <p><strong>{{ error_message }}</strong></p> {% endif %}


        <form action="{% url 'words:word_edited' word.id %}" method="post">
            {% csrf_token %}
            english: <input type="text" name="english" value="{{ word.english }}"> <br><br>
            russian: <input type="text" name="russian" value="{{ word.russian }}"> <br><br>

            <div class="form-group col-md-2">
                <input class="form-control" type="submit" name="action" value="Save" />
                <input class="form-control" type="submit" name="action" value="Delete" />
            </div>
        </form>
    </div>
</div>

</body>

</html>