<h1>{{ word }}</h1>

<p>{{ word.pub_date }}</p>

{% if error_message %} <p><strong>{{ error_message }}</strong></p> {% endif %}

<form action="{% url 'words:word_edited' word.id %}" method="post">
	{% csrf_token %}
	english: <input type="text" name="english" value="{{ word.english }}"> <br><br>
	russian: <input type="text" name="russian" value="{{ word.russian }}"> <br><br>
	
	<input type="submit" name="action" value="Save" />
	<input type="submit" name="action" value="Delete" />
</form>