<!DOCTYPE html>
<html>
<head>
	<title>English-memory-helper about</title>
	{% include 'emh/include/head.html' %}
</head>
<body>
{% include 'emh/include/navbar.html' %}

<div class="container">
    <div class="col-md-offset-2">
        <h1>О проекте &laquoenglish-memory-helper&raquo</h1>
        <p>&laquoEmh&raquo призван помочь пользователям в изучении английского языка</p>
        <p>Сейчас доступно огромное количество ресурсов и сервисов, позволяющих изучать язык.
        Преимущество &laquoEmh&raquo в том, что это максимально простой в обращении сервис.
        Здесь нет излишеств в интерфейсе, в функциональности, &laquoEmh&raquo лишь выполняет функцию старого, доброго школьного англо-русского словарика. Проверено поколениями!</p>
    </div>
</div>
</body>
</html>