<html>

<head>
	<title>English-memory-helper home</title>
	{% include 'emh/include/head.html' %}
</head>

<body>

<script>
	function word_edit(word_id)
	{
		console.log(word_id);		
		url = "{% url 'words:word_edit_template' %}";
		console.log(url);		
		url += word_id;
		document.location = url;
	}

	function translate_en_ru()
	{		
		key = 'key=trnsl.1.1.20140826T173319Z.f0d02f67d87ec71e.3304789dcff38b6b7253e6835b06bd3bb868a851';
		word = $('#id_english').val();
		text = 'text='+word;
		lang='lang=en-ru';

		$.ajax({
			url: 'https://translate.yandex.net/api/v1.5/tr.json/translate',
			type: 'GET',
			data: key+'&'+text+'&'+lang,
			success: function(res) {$('#id_russian').val(res.text);}
		})				
	}

	function translate_ru_en()
	{
		key = 'key=trnsl.1.1.20140826T173319Z.f0d02f67d87ec71e.3304789dcff38b6b7253e6835b06bd3bb868a851';
		word = $('#id_russian').val();
		text = 'text='+word;
		lang='lang=ru-en';

		$.ajax({
			url: 'https://translate.yandex.net/api/v1.5/tr.json/translate',
			type: 'GET',
			data: key+'&'+text+'&'+lang,
			success: function(res) {$('#id_english').val(res.text);}
		})
		
	}

	function translate_en_ru_key(e)
	{
		if (e.keyCode == 10)
			translate_en_ru();
	}

	function translate_ru_en_key(e)
	{
		if (e.keyCode == 10)
			translate_ru_en();
	}

</script>

    {% include 'emh/include/navbar.html' %}

	<div class="container">
            
		{% if error_msg %}
            <div class="col-md-offset-5">
                        <div class="alert alert-danger">{{ error_msg }}</div>
			</div>
		{% endif %}
			
		<div class="row">
			<div class="col-md-9">
				{% if can_edit %}	
				<div class="row">
					<div class="col-md-offset-3">
								<h3>Новое слово:</h3>
						<form role="form" method="post" action="{% url 'users:account' userdata.username%}">
							{% csrf_token %}
							<div class="form-group">
							    <div class="col-md-3">
							      <input type="text" class="form-control" id="id_english" name="english" placeholder="англ" autofocus onkeypress="translate_en_ru_key(event)">
							    </div>
							</div>
							<div class="form-group">
							    <div class="col-md-3">
							      <input type="text" class="form-control" id="id_russian" name="russian" placeholder="рус" onkeypress="translate_ru_en_key(event)">
							    </div>
							</div>
		                    
							<div class="form-group">
								<div class="col-md-3">
									<input class="btn btn-default" type="submit" value="Добавить" />
								</div>
							</div>
						</form>				
					</div>
				</div>
				{% endif %}
				
				<br>
				<div class="row">
					<div class="col-md-offset-2 col-md-8">
						<hr>
					</div>
				</div>
				<br>

				<div class="row">
					<div class="col-md-offset-2 col-md-8">
					<table class="table table-hover">
						<thead>
							<tr>
								<th>Английский</th>
								<th>Русский</th>
							</tr>
						</thead>
						<tbody>
						{% for word in words %}	
							<tr onclick="word_edit({{ word.id }})">
								<td>{{ word.english }}</td>
								<td>{{ word.russian }}</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>

				   </div>
				</div>
			<div class="row">
				<div class="col-md-offset-2 col-md-8">
					<div class="pagination">
						<span class="step-links">
							{% for page in words.paginator.page_range %}
							{% if page != words.number %}
								<a href="?page={{ page }}">&nbsp{{page}}&nbsp</a>
							{% else %}
								<span class="current">
					            	{{ page }}
					        	</span>
							{% endif %}
							{% endfor %}

						</span>
					</div>
				</div>
			</div>

			</div>

			<div class="col-md-3">
				<div class="row">
	            	<img src="{{ MEDIA_URL}}{{ userdata.avatar }}" />
            	</div>
            	<div class="row">
            		<h3>{{ userdata.username }}</h3>
                  
	                  {% if can_edit %}
	                  <a href="{% url 'users:profile_edit' userdata.username %}">Изменить</a>
	                  {% endif %}
            	</div>
			</div>

	
	</div>
	<div class="row">
		<div class="col-md-offset-10"
			<p>Переведено сервисом <a href="http://translate.yandex.ru/">«Яндекс.Перевод»</a></p>
		</div>
	</div>
</div>
</body>
</html>