<html>

<head>
	<title>English-memory-helper auth</title>
	{% include 'users/include/head.html' %}
</head>

<body>

    {% include 'users/include/navbar.html' %}

	<div class="container">
		<div class="row">
			<div class="col-md-offset-2">
				<div class="page-header">
                  <h1>Please, sign or register</h1>
                </div>

                {% if auth_failed %}
                    <div class="alert alert-danger">{{ auth_failed }}</div>
                {% endif %}
				<form class="form-horizontal" role="form" method="post" action="{% url 'users:auth_check' %}">
					{% csrf_token %}

					<div class="form-group">
						<label for="input_login" class="col-md-3 control-label">Login</label>
					    <div class="col-md-3">
					      <input type="text" class="form-control" id="input_login" name="username" placeholder="login">
					    </div>
					</div>

					<div class="form-group">
						<label for="input_password" class="col-md-3 control-label">Password</label>
					    <div class="col-md-3">
					      <input type="password" class="form-control" id="input_password" name="password" placeholder="password">
					    </div>
					</div>

					<div class="form-group">
				    	<div class="col-md-offset-3 col-md-3">
							<input class="btn btn-default" type="submit" value="Sign in" />
						</div>
					</div>

					<div class="form-group">
				    	<div class="col-md-offset-3 col-md-3">
							<a href="{% url 'users:register' %}">Register</a>
						</div>
					</div>

				</form>
			</div>
		</div>
	</div>
</body>
</html>