<html>

<head>
	<title>English-memory-helper home</title>
	{% include 'users/includes/head.html' %}
</head>

<body>

<script>
	function word_edit(word_id)
	{
		console.log(word_id);		
		url = "{% url 'words:word_edit' 3 %}";
		url = url.slice(0, url.length-2)
		url += word_id		
		document.location = url;
	}
</script>

	<div class="container">
		<div class="row">
			<div class="col-md-offset-5">
				<h1>Hello, {{ user.username }}!</h1>

				{% if error_msg %}
					<p><strong>{{ error_msg }}</strong></p>
				{% endif %}
			</div>
			
			<div class="col-md-offset-2">
				<form role="form" method="post" action="{% url 'users:home' %}">
					{% csrf_token %}
					<div class="form-group">
						<!-- <label for="id_english" class="col-md-1 control-label">english</label> -->
						<!-- <label for="id_english">english</label> -->
					    <div class="col-md-2">
					      <input type="text" class="form-control" id="id_english" name="english" placeholder="english">
					    </div>
					</div>
					<div class="form-group">
						<!-- <label for="id_russian" class="col-md-1 control-label">russian</label> -->
					    <div class="col-md-2">
					      <input type="text" class="form-control" id="id_russian" name="russian" placeholder="russian">
					    </div>
					</div>
					<div class="form-group">
						<div class="col-md-2">
							<input class="btn btn-default" type="submit" value="Add word" />
						</div>
					</div>
				</form>				
			</div>
		</div>

		<br />
		<br />

		<div class="row">
			<div class="col-md-offset-2 col-md-6">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>english</th>
						<th>russian</th>
					</tr>
				</thead>
				<tbody>
				{% for word in word_list %}	
					<tr onclick="word_edit({{ word.id }})">
						<!-- <td><a href="{% url 'words:word_edit' word.id %}">{{ word.english }}</a></td> -->
						<td>{{ word.english }}</td>
						<td>{{ word.russian }}</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		   </div>
		</div>

		<br />
		<br />

		<div class="row ">
			<div class="col-md-offset-5">
				<a href="{% url 'users:signout' %}">Sign out</a>
			</div>
		</div>
	</div>



</body>
</html>