<html>
<head>
	<title>English-memory-helper register</title>
	{% include 'emh/include/head.html' %}
</head>

<body>

    {% include 'emh/include/navbar.html' %}

	<div class="container">
		<div class="row">
			<div class="col-md-offset-2">
                <div class="page-header">
                  <h1>Регистрация</h1>
                </div>

                {% if register_failed %}
                    <div class="alert alert-danger">{{ register_failed }}</div>
                {% endif %}

				<form class="form-horizontal" role="form" method="post" action="{% url 'users:register' %}" enctype="multipart/form-data">
					{% csrf_token %}

					<div class="form-group">
						<label for="input_login" class="col-md-3 control-label">Логин</label>
					    <div class="col-md-3">
					      <input type="text" class="form-control" id="input_login" name="username">
					    </div>
					</div>

					<div class="form-group">
						<label for="input_password" class="col-md-3 control-label">Пароль</label>
					    <div class="col-md-3">
					      <input type="password" class="form-control" id="input_password" name="password">
					    </div>
					</div>

					<div class="form-group">
						<label for="input_password2" class="col-md-3 control-label">Пароль (подтверждение)</label>
					    <div class="col-md-3">
					      <input type="password" class="form-control" id="input_password2" name="password2">
					    </div>
					</div>

					<div class="form-group">
						<label for="firstname_id" class="col-md-3 control-label">Имя</label>
					    <div class="col-md-3">
					      <input type="text" class="form-control" id="firstname_id" name="first_name">
					    </div>
					</div>

					<div class="form-group">
						<label for="lastname_id" class="col-md-3 control-label">Фамилия</label>
					    <div class="col-md-3">
					      <input type="text" class="form-control" id="lastname_id" name="last_name">
					    </div>
					</div>

                    <div class="form-group">
						<label for="region_id" class="col-md-3 control-label">Откуда</label>
					    <div class="col-md-3">
					      <input type="text" class="form-control" id="region_id" name="region">
					    </div>
					</div>

                    <div class="form-group">
						<label for="id_about" class="col-md-3 control-label">О себе</label>
						<div class="col-md-3">
							<textarea rows="5" class="form-control" id="id_about"name="about"></textarea>
						</div>
					</div>

					<div class="form-group">
						<label for="avatar_id" class="col-md-3 control-label">Фото</label>
					    <div class="col-md-3">
					      	<input type="file" class="form-control" id="avatar_id" name="avatar">
					    </div>
					</div>


					<div class="form-group">
				    	<div class="col-md-offset-3 col-md-3">
							<input class="btn btn-default" type="submit" value="Готово"/>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

</body>
</html>