<html>
<head>
	<title>English-memory-helper register</title>
	{% include 'users/includes/head.html' %}
</head>

<body>

	<div class="container">
		<div class="row">
			<div class="col-md-offset-2">
				<h2 class="col-md-offset-3">Please, register</h2>

				<form class="form-horizontal" role="form" method="post" action="{% url 'users:register_check' %}">
					{% csrf_token %}

					<div class="form-group">
						<label for="input_login" class="col-md-3 control-label">Login</label>
					    <div class="col-md-3">
					      <input type="text" class="form-control" id="input_login" name="username" placeholder="login">
					    </div>
					</div>

					<div class="form-group">
						<label for="input_password" class="col-md-3 control-label">Password</label>
					    <div class="col-md-3">
					      <input type="password" class="form-control" id="input_password" name="password1" placeholder="password">
					    </div>
					</div>

					<div class="form-group">
						<label for="input_password2" class="col-md-3 control-label">Confirm password</label>
					    <div class="col-md-3">
					      <input type="password" class="form-control" id="input_password2" name="password2" placeholder="password again">
					    </div>
					</div>

					<div class="form-group">
				    	<div class="col-md-offset-3 col-md-3">
							<input class="btn btn-default" type="submit" value="Register and sign" />
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

</body>
</html>